etc/package_dimension_limits.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dimension_limits" type="dimension_limitsType"/>
    <xs:complexType name="lengthType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="min" use="required"/>
                <xs:attribute type="xs:float" name="max" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="widthType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="min" use="required"/>
                <xs:attribute type="xs:float" name="max" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="heightType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="min"/>
                <xs:attribute type="xs:byte" name="max"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="boxType">
        <xs:sequence>
            <xs:element type="lengthType" name="length" minOccurs="1"/>
            <xs:element type="widthType" name="width" minOccurs="1"/>
            <xs:element type="heightType" name="height" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="envelopeType">
        <xs:sequence>
            <xs:element type="lengthType" name="length" minOccurs="1"/>
            <xs:element type="widthType" name="width" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="diameterType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="min" use="required"/>
                <xs:attribute type="xs:float" name="max" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="rollType">
        <xs:sequence>
            <xs:element type="lengthType" name="length" minOccurs="1"/>
            <xs:element type="diameterType" name="diameter" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dimension_limitsType">
        <xs:sequence>
            <xs:element type="boxType" name="box" minOccurs="1"/>
            <xs:element type="envelopeType" name="envelope" minOccurs="1"/>
            <xs:element type="rollType" name="roll" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>